* {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}

.App {
    width: 100vw;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
